
<div id="content">

  <form name="input" action="process" method="post">
    <div>
      <textarea rows="20" cols="100" name="input">
      </textarea>
    </div>
    <div>
      <input type="submit" value="Submit" />
    </div>
  </form>
  
</div>
